<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title> Find My Bread </title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
  <script src='https://api.mapbox.com/mapbox-gl-js/v3.4.0/mapbox-gl.js'></script>
  <link href='https://api.mapbox.com/mapbox-gl-js/v3.4.0/mapbox-gl.css' rel='stylesheet' />
  <script src="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v5.0.1-dev/mapbox-gl-geocoder.min.js"></script>
<link
  rel="stylesheet"
  href="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v5.0.1-dev/mapbox-gl-geocoder.css"
  type="text/css"
/>
    <style>
      body {
        margin: 2;
        padding: 2;
      }
      #map {
        position: absolute;
        top: 20%;
        bottom: 20%;
        width: 50%;
      }
    </style>
  </head>
  <body>
    {% block body %}
    {% endblock %}
  </body>
</html>