{% extends "blog/layout.html" %}

{% block body %}
<div class="container mt-5">
    <h1 class="text-center text-primary mb-5">My Bread Diary</h1>
    {% for post in posts %}
        <div class="card mb-4">
            <div class="card-body">
                <h2 class="card-title">{{ post.title }}</h2>
                <small class="text-muted">Posted at {{ post.date_added }}</small>
                <p class="card-text mt-3">{{ post.intro }}</p>
                <a href="{% url 'post_detail' post.slug %}" class="btn btn-outline-primary">Read more</a>
            </div>
        </div>
    {% endfor %}
    <div class="text-center mt-4">
        <a href="{% url 'add_post' %}" class="btn btn-primary mb-3">Add a post!</a>
        <a href="{% url 'index' %}" class="btn btn-outline-secondary">Return to Homepage</a>
    </div>
</div>
{% endblock %}