{% extends "blog/layout.html" %}

{% block body %}
<div class="container mt-5">
    <h1 class="text-primary mb-4">{{ post.title }}</h1>
    <img src="{{ post.banner.url }}" alt="{{ post.title }}" class="img-fluid small-img mb-4"/>
    <small class="text-muted">Posted at {{ post.date_added }}</small>
    <p class="font-weight-bold mt-3">{{ post.intro }}</p>
    <p>{{ post.body }}</p>

    <hr>

    <h2 class="text-secondary mb-4">Comments</h2>
    {% for comment in post.comments.all %}
        <div class="media mb-4">
            <div class="media-body">
                <h5 class="mt-0">{{ comment.name }} <small class="text-muted">{{ comment.date_added|timesince }} ago</small></h5>
                {{ comment.body }}
            </div>
        </div>
    {% empty %}
        <div class="alert alert-warning" role="alert">
            No comments at the moment.
        </div>
    {% endfor %}

    <hr>

    <h2 class="text-secondary mb-4">Add a Comment</h2>
    <form method="post" action=".">
        {% csrf_token %}
        {{ form.as_p }}
        <div class="form-group">
            <button type="submit" class="btn btn-success">Submit</button>
        </div>
    </form>
</div>
{% endblock %}