{% extends "users/layout.html" %}
{% load static %}

<img src="{% static 'images/homepage.PNG' %}">

{% block body %}

<div class="container mt-5 text-center">
    <h1 class="display-4">Welcome to Combreads, {{ request.user.username }}</h1>
    <div class="mt-4">
        <a href="{% url 'blogpage' %}" class="btn btn-primary m-2">My Bread Diary</a>
        <a href="{% url 'default' %}" class="btn btn-secondary m-2">Find My Bread</a>
        <a href="{% url 'suggestions' %}" class="btn btn-success m-2">Bread of the Day</a>
        <a href="{% url 'logout' %}" class="btn btn-danger m-2">Log Out</a>
    </div>
</div>

{% endblock %}